body {
    background-color: beige;

}

#circle {
    position: absolute;
    top: 40%;
    left: 22%;
    width: 60%;
    height: 20%;
    border-radius: 20%;
    background-color: white;

}

#cloud {
    margin-left: auto;
    padding-left: 10%;
    width: 20%;
    height: 10%;
    border-radius: 50%;
    background-color: rgb(209, 209, 255);
}