body {
    background-color: white;
    color: black;
}

img {
    background-color: #ffffff;
    color: white;
    width: 30px;
    height: auto;
    font-size: 20px;
}

button {
    border-radius: 50%;
    background-color: white;
    width: 100px;
    height: 100px;
}

h1 {
    position: absolute;
    left: 40%;
    top: 7%;
    font-family: 'Monserrat', sans-serif;
    font-size: 65px;
    color: black;
}