body {
    background-color: rgb(10, 15, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
}

.box {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.guess_btn {
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 50px;
}

.guess {
    padding: 10px;
    border: none;

}

.result {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}